<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/" lang="en" xml:lang="en">
<wicket:panel>
     <span wicket:id="tagging" class="tagItem">
      <a wicket:id="link" href="#"><span wicket:id="name">tag</span></a>
      <a wicket:id="remove" class="button tag removeLink" href="#">
      	<img src="img/icons/close_tag.png" width="9" height="9" alt="remove"/>
      </a> 
    </span>
    <span wicket:id="moreTags" class="tagItem"></span>
    <span wicket:id="noTags" class="tagItem"></span>
</wicket:panel>
</html>