/*================================================================*/
/* Response Items  */

.responseBar {
    clear: both;
    position: relative;
    padding: 0px 0px 0.5em 0px;
}
.responseBar:after {
    content: ".";
    height: 0px;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
*:first-child+html .responseBar { height: 100%; } /* IE7 */
* html .responseBar { height: 1%; }               /* IE6 */

.responseLeft {
    display: block;
    float: left;
    padding: 0px;
    margin: 0px;
}

.responseRight {
    float: right;
    padding: 1px 0px 0px 0px;
    margin: 0px;
    list-style: none;
}

.responseDirections {
    font-style: italic;
    font-size: 0.9em;
    padding: 0px;
}

.responseTime {
    color: #777777;
    font-size: 0.9em;
}

.responseActions {
    padding: 0px;
}

.responseItem {
    clear: both;
    border: 1px solid #BDBDBD;
    padding: 5px;
    margin: 0px 0px 0.75em 0px;
    word-wrap: break-word;
}

.responseEditHeader {
    position: relative;
    float: left;
    padding-right: 3.5em;
}
.responseEditHeader:after {
    content: ".";
    height: 0px;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
.responseEditHeader .button {
    position: absolute;
    top: 0.1em;
    right: 0px;
}

.responseEditTitle input[type="text"] {
    vertical-align: middle;
    width: 60%;
}

.responseEdit {
    background: #FFFFCC;
    border: 1px solid #D7D7D7;
    padding: 5px;
}

.responseEdit textarea {
    width: 525px;
    height: 200px;
    margin: 0px 0px 0.5em 0px;
}

.rightBox .responseItem {
    border: 0px;
}

.rightBox .responseEdit textarea  {
    width: 203px;
    height: 100px;
}

.rightBox .responseEdit input[type="text"] {
    width: 203px;
}

.responseEdit input[type="text"] {
    width: 400px;
}

.responseFeedback {
    display: inline-block;
    background: #FFFF99;
    font: bold 12px/115% Arial,Helvetica,sans-serif;
    padding: 0.2em 0.45em;
    margin: -1px 0px 0px 0px;
    vertical-align: middle;
}
.responseFeedback img {
    vertical-align: middle;
    width: 1.25em;
    height: 1.25em;
}

/*================================================================*/
/* Response - Multiple Choice  */

.responseMCItem {
    padding: 0px 0px 0.4em 0px;
}
.responseMCItem:after {
    content: ".";
    height: 0px;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
*:first-child+html .responseMCItem { height: 100%; } /* IE7 */

.responseMCItem input[type="radio"], .responseMCItem input[type="checkbox"] {
    float: left;
}
.responseMCItem label {
    display: block;
    margin-left: 1.75em;
}

.responseMCActions {
    clear: both;
    padding: 0.3em 0px 0px 0px;
}

.responseMCFeedback {
    clear: both;
    border-top: 1px dotted #BDBDBD;
    padding: 0.3em 0px 0px 0px;
    margin: 0.7em 0px 0px 0px;
}

.responseMCCompact form:after {
    content: ".";
    height: 0px;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
*:first-child+html .responseMCCompact form { height: 100%; } /* IE7 */

.responseMCCompact .responseMCItem {
    float: left;
    padding-right: 1.0em;
}
/*================================================================*/
/* Sentence Starters List  */

.starters {
    padding: 0px 0px 1em 0px;
    margin: 0px;
}

.starters li {
    margin: 0px 0px 0px 1.5em;
    padding: 0px;
}

/*================================================================*/
/* Feedback Items */

.feedbackBox {
}

.feedbackTime {
    font-size: 0.9em;
}
.feedbackTime img {
    vertical-align: text-bottom;
}

.feedbackFrom {
    color: #364A77;
    font-weight: bold;
}

.feedbackMsg {
}

/*================================================================*/
/* Collapse Box */

.collapseBox .toggle {
    position: absolute;
    top: 0.1em;
    left: 0px;
    background: transparent url("../img/icons/expand_closed.png") center center no-repeat;
    width: 15px;
    height: 15px;
    display: block;
}

.collapseBox .toggle.expOpen {
    background-image: url("../img/icons/expand_open.png");
}
.collapseBox .toggleOffset {
    position: relative;
    padding: 0px 0px 0px 18px;
    cursor: pointer;
}
.collapseBox .toggleOffset:hover {
    text-decoration: underline;
}

.collapseBox .toggle:focus {
     background-color: #FFFF99;
}

.collapseBody {
    display: none;
    clear: both;
    padding: 5px 0px 0px 17px;
}

/*================================================================*/
/* Support Box */

.supportBox {
    clear: both;
    position: relative;
    background: #F0F0F0;
    border: 1px solid #BDBDBD;
    padding: 5px;
    margin: 0px 0px 1em 0px;
}

.supportBox h5 {
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    color: #000000;
    padding: 0px;
    margin: 0px;
}

.supportBox .hasNotification {
    height: 16px;
    position: absolute;
    right: 45px;
    top: 7px;
    width: 22px;
}
/*================================================================*/
/* Entry Box */

.entryBox {
    clear: both;
    position: relative;
    border-left: 4px solid #99B7DB;
    padding: 0px 0px 0px 10px;
    margin: 0px 0px 1em 0px;
}

/*================================================================*/
/* Text Box */

.textBox {
/*    background: #F0F0F0;*/
    border: 1px solid #BDBDBD;
    padding: 5px;
    margin: 0px 0px 1em 0px;
}

/*================================================================*/
/* Image Box and Captions */

.imgBox {
    position: relative;
    margin: 0px 0px 1.0em 0px;
    z-index: 1;
    clear: both;
}

.imgBox.left {
    float: left;
    margin: 0px 1.5em 1.0em 0px;
}

.imgBox.right {
    float: right;
    margin: 0px 0px 1.0em 1.5em;
}

.imgBox.center {
    margin: 0px auto 1.0em auto;
}

.imgBox img {
    display: block;
    padding: 0px;
    margin: 0px;
}

.imgCaption {
    word-wrap: break-word;
    background: #364A77;
    color: #FFFFFF;
    padding: 4px;
    margin: 0px;
    font-size: 0.9em;
    min-height: 21px;
}

.imgCaption a { color: #D7D7D7; text-decoration: underline; }
.imgCaption a:hover, .imgCaption a:focus { color: #FFFFFF;}

.imgCaption .source {
    font-size: 0.9em;
}

.imgBox .expandIcon {
    position: absolute;
    top: 5px;
    left: 5px;
}

.imgBox .closeIcon {
    position: absolute;
    top: 5px;
    left: 5px;
}

.imgActions {
    position: relative;
    display: inline-block;
    float: right;
    width: 1.75em;
    text-align: right;
    z-index: 1;
}

.imgCaption h5 {
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    margin: 0;
}

/*================================================================*/
/* Image Group */

.imgGroup {
    clear: both;
}
.imgGroup:after {
    content: ".";
    height: 0px;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
*:first-child+html .imgGroup { height: 100%; } /* IE7 */

.imgGroup .imgBox {
    clear: none;
    float: left;
    margin: 0px 1.5em 1.0em 0px;
}

/*================================================================*/
/* Object Box and Captions (Video/Audio) */

.objectBox {
    position: relative;
    margin: 0px 0px 1.0em 0px;
    clear: both;
}

.objectBox.left {
    float: left;
    margin: 0px 1.5em 1.0em 0px;
}

.objectBox.right {
    float: right;
    margin: 0px 35px 1.0em 1.5em;
}

.objectBox.center {
    margin: 0px auto 1.0em auto;
    clear:both;
}

.objectCaption {
    word-wrap: break-word;
    background: #364A77;
    color: #FFFFFF;
    padding: 4px;
    margin: 0px;
    font-size: 0.9em;
}

.objectCaption a { color: #D7D7D7; text-decoration: underline; }
.objectCaption a:hover, .objectCaption a:focus { color: #FFFFFF;}

.objectCaption .source {
    font-size: 0.9em;
}

.objectCaption h5 {
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    margin: 0;
}

.objectBox .mediaPlaceholder {
    position: relative;
}

.objectBox .playIcon {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin: -10px 0px 0px -10px;
    width: 20px;
    height: 20px;
    background: transparent url("../img/icons/play.png") 0px 0px no-repeat;
}
.objectBox .mediaPlaceholder:hover a .playIcon, .objectBox .mediaPlaceholder a:focus .playIcon {
    background-position: 0px -20px;
}

/*================================================================*/
/* Response Box */

.responseBox {
    clear: both;
    margin: 0px 0px 0.5em 0px;
}
.responseBox:after {
    content: ".";
    height: 0px;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
*:first-child+html .responseBox { height: 100%; } /* IE7 */

.responseIcon {
    float: left;
    width: 30px;
}

.responseSection {
    padding: 0px 0px 0.5em 0px;
}

.responseContent {
    display: block;
    margin: 0px 0px 1em 30px;
}

.responseContent .entryBox {
    clear: none;
}

.responseQuestion {
    font-size: 0.9em;
    padding: 0px 0px 0.5em 0px;
}

.responseRemoveable {
    background: #FFFFCC;
}

.responseCurrent {
    background: #FFFFCC;
}

.responseTitle {
    font-weight: bold;
}

.responseAuthor {
    font-weight: bold;
    padding: 0px 0px 0.5em 0px;
}
.responseAuthor .button {
    float: right;
}

/*================================================================*/
/* Teacher Bar  */

#teacherNavBar {
    font-size: 0.9em;
    padding: 5px 5px 0px 5px;
}

.teacherBar {
    clear: both;
    position: relative;
    background: #890000;
    color: #FFFFFF;
    padding: 5px;
}
.teacherBar:after {
    content: ".";
    height: 0px;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
*:first-child+html .teacherBar { height: 100%; } /* IE7 */
* html .teacherBar { height: 1%; }               /* IE6 */

.teacherBarLeft {
    display: block;
    float: left;
    padding: 0px;
    margin: 0px;
}

.teacherBarRight {
    float: right;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

/*=========================================================*/
/* Smart Image Navigation */

.smartImage {
    border: 1px solid #BDBDBD;
    margin: 0 0 1em 0;
}

.smartImage .navBar {
    padding: 5px;
}

.smartImage .navBar img {
    display: inline;
}

.smartImage .navBar .title{
    position: relative;
    top: 0.1em;
    float: left;
    font-weight: bold;
    margin-right: 1em;
}

.smartImage .navBar .navItems {
}

.smartImage .overlayParent {
    position: relative;
    display: block;
}
.smartImage .overlayBar {
    position: absolute;
    top: 20px;
    right: 20px;
    /* left: 500px; */  /* This is hack - should float right but wonky in IE7 */
    font-size: 0.9em;
    color: #FFFFFF;
    background: #000000;
    display: block;
    padding: 0.2em 0.4em;
    white-space: nowrap;
}
.smartImage .overlayBar a {
    color:#FFFFFF;
}

.smartImage .overlayBar .current {
    font-weight:bold;
}

.smartImage .caption {
    background: #364A77;
    color: #FFFFFF;
    font-size: 0.9em;
    margin: 0;
    padding: 4px;
    word-wrap: break-word;
}

/*================================================================*/
/* Misc Content Box and Captions */

.miscBox {
    position: relative;
    margin: 0px 0px 1.0em 0px;
    z-index: 1;
    clear: both;
}

.miscBox.left {
    float: left;
    margin: 0px 1.5em 1.0em 0px;
}

.miscBox.right {
    float: right;
    margin: 0px 0px 1.0em 1.5em;
}

.miscBox.center {
    margin: 0px auto 1.0em auto;
}

.miscBox img {
    display: block;
    padding: 0px;
    margin: 0px;
}

.miscCaption {
    word-wrap: break-word;
    background: #364A77;
    color: #FFFFFF;
    padding: 4px;
    margin: 0px;
    font-size: 0.9em;
    min-height: 21px;
}

.miscCaption a { color: #D7D7D7; text-decoration: underline; }
.miscCaption a:hover, .imgCaption a:focus { color: #FFFFFF;}

.miscCaption .source {
    font-size: 0.9em;
}

.miscBox .expandIcon {
    position: absolute;
    top: 5px;
    left: 5px;
}

.miscBox .closeIcon {
    position: absolute;
    top: 5px;
    left: 5px;
}

.miscActions {
    position: relative;
    display: inline-block;
    float: right;
    width: 1.75em;
    text-align: right;
    z-index: 1;
}

.miscCaption h5 , .miscCaption h4{
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    margin: 0;
}

.miscBox .dataTable {
    margin-bottom: 0px;
}

.miscBox .dataTable caption {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    font-weight: normal;
    caption-side: bottom;
    background: #364A77;
    color: #FFFFFF;
    padding: 4px;
    margin-bottom: 0px;
}

/*================================================================*/
/* Pull Quote */

.pullQuote {
    display: inline-block;
    float: right;
    border: 1px solid #BDBDBD;
    background: #F0F0F0;
    width: 175px;
    padding: 5px;
    margin: 0px 0px 1em 1em;
}

.pullQuote blockquote {
    background: transparent url("../img/icons/openquote_grey.png") left top no-repeat;
    color: #364A77;
    font-size: 1.1em;
    font-style: italic;
    font-weight: normal;
    min-height: 14px;
    padding: 0px 0px 0.3em 24px;
    margin: 0px;
}
.pullQuote blockquote p {
    padding: 0px 0px 0.5em 0px;
}

.pullQuote .attrib {
    color: #333333;
    font-size: 0.9em;
    padding: 0px 0px 0px 24px;
}