# *****
# *****  The identifier of the application instance
# *****  (eg., could be the server name).
# *****  (optional, default = "")
# *****
cwm.instanceId           = example


# *****
# *****  The length of time before a user session is timed out in seconds
# *****  (optional, default = 5400, which is 90min)
# *****
cwm.sessionTimeout		 = 5400


# *****
# *****  The directory and name of the Hibernate configuration file.
# *****  (required)
# *****
cwm.hibernateConfig      = /opt/example/hibernate.xml


# *****
# *****  The name of the mail server and address if mail is used.
# *****  (optional unless you extend the application to send mail)
# *****
cwm.mailHost             = smtp.example.org
cwm.mailFromAddress      = admin@example.org


# *****
# *****  The directory and name of the logging configuration file.
# *****  (optional, default is logback's default)
# *****
cwm.logConfig            = /opt/example/logback.xml


# *****  
# ***** The value of the admin user/password - needed to start the application.
# ***** The default administrator will be created if this is not provided.
# ***** 
#cwm.adminUsername 	=
#cwm.adminPassword 	= 
#cwm.adminEmail		=


# *****
# *****  The directory and name of the theme files
# *****  (html, css, image, js, and application property file).
# *****
isi.skinDir              = /opt/example/theme

# ****
# ****   A custom theme directory can override anything in the standard
# ****   theme directory.  Files must be at the same relative path:
# ****   so for example to override the settings in:
# ****     theme/org/cast/example/ExampleApplication.properties 
# ****   you would create
# ****     customtheme/org/cast/example/ExampleApplication.properties
# ****   (optional; uncomment to set)
# isi.customSkinDir        = /opt/example/customTheme


# *****
# *****  The WebDAV server information, needed only if you are storing your
# *****  content files on a webDAV server.
# *****  (optional, default is to find files on the local filesystem)
# *****
#isi.davServer           = dav.example.org
#isi.davUser             = davuser
#isi.davPassword         = davpassword


# *****
# *****  The directory of the content files (xml, image, video, etc.) 
# *****  on either the local filesystem or webDAV server.
# *****  (required)
# *****
isi.contentDir           = /opt/example/content


# *****
# *****  A comma separated list of the xml content files found
# *****  in the content directory.
# *****  (required)
# *****
isi.studentContentFiles  = demo.xml


# *****
# *****  The name of the glossary xml file located in the content directory.
# *****  (optional, no default)
# *****
isi.glossaryFile         = glossary.xml


# *****
# *****  Full path to a CSV file containing user accounts to create when the
# *****  server is started.
# *****  (optional, default is to create only an "admin" account)
# *****
cwm.defaultUserFile = /Users/lynnmccormack/Documents/project/dynabook/dbcsvfiles/testUserwithsite.csv


# *****
# *****  Needed to indicate which level of structure in the content files
# *****  represents a "section", and which level represents a "page".
# *****  (Required.  Only level2/level3 and level3/level4 are supported.)
# *****
isi.sectionElement      = level3
isi.pageElement         = level4


# *****
# *****  The following are used to turn off features in the application.  
# *****  (optional, default = true for all)
# *****
isi.pageNumbers.isOn        = true
isi.glossary.isOn           = true
isi.notebook.isOn           = true
isi.whiteboard.isOn         = true
isi.responseCollection.isOn = true
isi.toolBar.isOn            = true
isi.classMessage.isOn       = true
isi.pageNotes.isOn          = true
isi.myQuestion.isOn         = true
isi.tag.isOn                = true
isi.highlightsPanel.isOn    = true
isi.mathML.isOn 	        = false


# *****
# *****  Clicking a glossary word can either show a short definition inline,
# *****  open a "mini-glossary" modal dialog, or directly open the full glossary
# *****  popup window.
# *****  (optional, default = modal)
# *****
#isi.glossary.type = modal
#isi.glossary.type = inline
#isi.glossary.type = main


# *****
# *****  isi.defaultResponse.type is the default list of responses used throughout the application.  
# *****  These are the types of responses the user has available on the MyQuestions,
# *****  Questions popup, notebook, Teacher notes popup and the user created glossary words.
# *****
# *****  useAuthoredResponseType is set to true when you want to have the author specify the response types when authoring
# *****  both the content pages and also the glossary responses.
# *****  Setting this value to false will have all authored response types set to the default responses specified
# *****  in the defaultResponse.type.  The default value is false for backwards compatibility.
# *****
#isi.defaultResponse.type = text, image, audio, file
#isi.useAuthoredResponseType.isOn = true  


# *****
# *****  isi.response.sortField is the field in the response that should be used for sorting a list of responses.
# *****  Recommended values would be "createDate" or "lastUpdated"
# *****  isi.response.sort is whether the sort should be ascending (first to last) or descending (last to first) or none.
# *****  The default value is to sort the responses by the create date with the most recent response at the top of the list.
# *****
#isi.response.sortField = createDate
#isi.response.sort = DESCENDING


# *****  
# *****  A comma separated list of tags that all users will see, in addition
# *****  to any tags that they create.  These can be used to tag pages
# *****  with a single click.
# *****  (optional, default = no default tags)
# *****  
isi.defaultTags = *, **, ***, ****


# *****
# ***** The API key if you are using wordnik for your dictionary.
# ***** (optional, no default)
# isi.wordnikApiKey = [your key here]

