<html xmlns:wicket="http://wicket.apache.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
<wicket:panel>
	<form wicket:id="component">
		<div class="responseBar">
			<div class="responseLeft"/>
			<div class="responseRight">
				<span wicket:id="mcScore"/>
			</div>
		</div>
	<div class="responseItem" wicket:id="radioGroup">
	<a class="button" href="#" wicket:id="submitLink">Check My Answer</a>
	<wicket:enclosure child="selectNone">
	<p wicket:id="selectNone">Select an answer...</p>
	</wicket:enclosure>
	</div>
	</form>
</wicket:panel>
</body>
</html>
