/*================================================================*/
/* Slideshow (jQuery UI Tabs) Items */

.slideshow {
    border: 1px solid #BDBDBD;
    margin: 0px 0px 1em 0px;
    min-width: 600px;
    width: 600px;
}

.slideshow .slideshowTitle {
    display: block;
    font-weight: bold;
    background: #F0F0F0;
    padding: 3px 5px;
}

.slideshow .slideshowNav {
    float: right;
}

.slideshow .ui-tabs-nav {
    background: #F0F0F0;
    border-bottom: 2px solid #D7D7D7;
    padding: 0px;
    margin: 0px;
    list-style: none;
    padding: 3px 5px 12px 5px;
}

.slideshow .ui-tabs-nav li {
    display: inline-block;
    position: relative;
}

.slideshow .ui-state-active .caret {
    background: transparent url("../img/icons/caret.gif") bottom left no-repeat;
}
.slideshow .caret {
    background: none;
    display: block;
    height: 10px;
    left: 50%;
    position: absolute;
    top: 1.7em;
    width: 19px;
    z-index: 5;
    margin-left: -9px;
}

.slideshow .ui-tabs-hide {
    display: none;
}

.slideshow .ui-tabs-panel {
    background: #FFFFFF;
}

.slideshow .imgBox, .slideshow .objectBox {
    margin-bottom: 0px;
    border: 0
}

.slideshow .entryBox {
    margin: 5px;
}

.slideshow .ui-state-active .button {
    color: #000000 !important;
    border: 1px solid #8A8A8A;
	background: #FFFF99 !important;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
}
