/*================================================================*/
/* Slideshow (jQuery UI Tabs) Items */

.slideshow {
    background: #FFF7E8;
    border: 1px solid #A29A8C;
    margin: 0px 0px 1em 0px;
    min-width: 600px;
    width: 600px;
}

.slideshow .slideshowTitle {
    display: block;
    padding: 3px 5px;
}

.slideshow .slideshowNav {
    float: right;
}

.slideshow .ui-tabs-nav {
    padding: 0px;
    margin: 0px;
    list-style: none;
    padding: 3px 5px 12px 5px;
}

.slideshow .ui-tabs-nav li {
    display: inline-block;
    position: relative;
}

.slideshow .ui-state-active .caret {
    background: transparent url("../img/icons/caret.gif") bottom left no-repeat;
}
.slideshow .caret {
    background: none;
    display: block;
    height: 10px;
    left: 50%;
    position: absolute;
    top: 1.6em;
    width: 19px;
    z-index: 5;
    margin-left: -9px;
}

.slideshow .ui-tabs-hide {
    display: none;
}

.slideshow .imgBox, .slideshow .objectBox {
    margin-bottom: 0px;
}

.slideshow .imgBox, .slideshow .objectBox {
    border: 0
}

.slideshow .entryBox {
    margin: 5px;
}