html, body {
    overflow: visible;
}

#header {
    position: static;
    height: auto;
    overflow: visible;
}

#logo {
    display: block;
    float: none;
}

#close {
    display: none;
}

#nav {
    display: none;
}

#maincol {
    position: static;
    display: block;
    overflow: visible;
    padding: 0px;
}

#leftcol {
    display: none;
}

#rightcol {
    position: static;
    display: block;
    overflow: visible;
    padding: 0px;
}

#tht {
    display: none;
    visibility: hidden;
}

.responseItem .button, .imgBox .button, .objectBox .button {
    display: none;
}


