body {
    border: 0px;
    padding: 0px 20px 0px 20px;
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 105%;
    line-height: 1.3;
    color: #000000;
    background: #243672 url("../img/bg/bubble.gif") top center no-repeat;
}

img {
    border: 0px;
}

p {
    padding: 0px 0px 1em 0px;
    margin: 0px;
}

form {
    padding: 0px;
    margin: 0px;
}

input {
    font-size: 1.0em;
}

a { color: #686868; }
a:hover, a:focus { color: #1E2D56; }

ul, ol {
    padding: 0px 0px 1em 0px;
    margin: 0px;
}
ul li, ol li {
    padding: 0px 0px 0.5em 0px;
    margin: 0px 0px 0px 1.5em;
}

/*================================================================*/
/* Header */

#header {
    position: relative;
    padding: 15px 0px 0px 0px;
}
#header:after {
    content: ".";
    height: 0px;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
*:first-child+html #header { height: 100%; } /* IE7 */
* html #header { height: 1%; }               /* IE6 */

#header a { color: #D7D7D7; }
#header a:hover, #header a:focus { color: #FFFFFF;}

#headerLeft {
    float: left;
    display: block;
    width: 65%;
}

#logo {
    float: left;
}

#title {
    color: #FFFFFF;
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 2.0em;
    font-weight: bold;
    line-height: 1.0;
    margin: 0px 0px 0px 60px;
}

#tagline {
    color: #FFFFFF;
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0px 0px 0px 60px;
}

#headerRight {
    float: right;
    width: 33%;
    text-align: right;
    font-size: 0.9em;
    color: #FFFFFF;
}

/*================================================================*/
/* Tab Navigation */

#tabBar {
    clear: both;
    position: relative;
    padding: 15px 0px 0px 0px;
}
#tabBar:after {
    content: ".";
    height: 0px;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
*:first-child+html #tabBar { height: 100%; } /* IE7 */
* html #tabBar { height: 1%; }               /* IE6 */

#tabs {
   position: relative;
   top: 1px;
   padding: 0px;
   margin: 0px;
   list-style: none;
   z-index: 2;
}
#tabs li {
    display: block;
    float: left;
    padding: 0px 4px 0px 0px;
    margin: 0px;
    list-style: none;
    font-size: 0.9em;
}
#tabs li > a, #tabs li > span {
    display: block;
    background: #99B7DB;
    border-bottom: 0;
    font-weight: bold;
    padding: 5px 10px;
}
#tabs li .current {
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-bottom: 0;
    padding: 4px 10px 6px 10px;
}
#tabs a { color: #000000; text-decoration: none; }
#tabs a:hover, #tabs a:focus { background: #C6DDF4; color: #000000;  }

#tabs img {
    vertical-align: top;
}

#tabRight {
    float: right;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
#tabRight li {
    display: block;
    float: left;
    padding: 0px 0px 0px 0.5em;
    margin: 0px;
    list-style: none;
}

/*================================================================*/
/* Footer */

#footer {
    clear: both;
    color: #FFFFFF;
    font-size: 0.9em;
    padding: 10px 0px 0px 0px;
}

#footer a { color: #FFFFFF; }
#footer a:hover, #footer a:focus { color: #D7D7D7; }

#footer img {
	vertical-align: middle;
}

#footerRight {
    float: right;
    width: 49%;
    text-align: right;
}

#footerRight p {
    padding: 0px 0px 0.5em 0px;
}

#site {
}

#build {
}

#copyright {
    float: left;
    width: 49%;
    font-size: 0.8em;
}

#grant {
    clear: both;
    border-top: 2px dotted #6E85A9;
    font-size: 0.8em;
    padding: 1em 0px 0px 0px;
}

#grant img {
    float: left;
    margin: 0px 10px 0px 0px;
}

#grant p {
    clear: both;
}
#grant p:after {
    content: ".";
    height: 0px;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
*:first-child+html #grant p { height: 100%; } /* IE7 */
* html #grant p { height: 1%; }               /* IE6 */

/*================================================================*/
/* Content Wrapper */

#wrapper {
    position: relative;
    background:  #FFFFFF;
    border: 1px solid #D7D7D7;
    z-index: 1;
    font-size: 0.9em;
}
#wrapper:after {
    content: ".";
    height: 0px;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
*:first-child+html #wrapper { height: 100%; } /* IE7 */
* html #wrapper { height: 1%; }               /* IE6 */

/*================================================================*/
/* Top Navigation Area */

#topnav {
    position: relative;
    padding: 5px 10px 10px 10px;
    /* min-height: 1em; */
}
#topnav:after {
    content: ".";
    height: 0px;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

#topnav h2 {
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    color: #000000;
    padding: 0px 0px 0.2em 0px;
    margin: 0px;
}

/*================================================================*/
/* Page Title */

#pageTitle {
    margin-right: 11em;
    font-size: 0.9em;
}

/*================================================================*/
/* Page Jump */

#pageJump {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 0.9em;
}

#pageJump form {
    display: inline;
    vertical-align: text-bottom;
}

#pageJump .pageJumpVal {
    width: 2em;
    border: 1px solid #B2B2B2;
    background: #FFFFFF;
    vertical-align: top;
    margin: 0px;
}

/*================================================================*/
/* Section Navigation Bar */

#sectionNav {
    padding: 0px 10px 10px 10px;
    margin: -7px 0px 0px 0px;
    list-style: none;
    font-size: 0.8em;
    line-height: 1.1em;
}
#sectionNav:after {
    content: ".";
    height: 0px;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
*:first-child+html #sectionNav { height: 100%; } /* IE7 */
* html #sectionNav { height: 1%; }               /* IE6 */

#sectionNav li {
    position: relative;
    float: left;
    background: transparent;
    border-left: 1px solid #D7D7D7;
    padding: 0px 0px 0px 5px;
    margin: 0px 5px 0px 0px;
}
#sectionNav li:first-child {
    border-left: 0px;
    padding: 0px;
}

#sectionNav .sectionTitle {
    display: block;
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    color: #000000;
    padding: 0px 0px 0.1em 0px;
}

#sectionNav .sectionItems {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

#sectionNav .sectionItems li {
    position: relative;
    background: none;
    border: 0;
    list-style: none;
    padding: 0px 3px 0px 0px;
    margin: 0px;
}

#sectionNav .notitle {
    margin-top: 1.2em;
}

#sectionNav .caret {
	position: absolute;
	top: 1.8em;
    left: 0.1em;
	background: transparent url("../img/icons/caret.gif") bottom left no-repeat;
    display: block;
    width: 19px;
    height: 10px;
	z-index: 5;
}

/*================================================================*/
/* Page Navigation Bar */

.pageNavBar {
    clear: both;
    position: relative;
    background: #D7D7D7;
    padding: 4px 10px;
}

.pageNavBar:after {
    content: ".";
    height: 0px;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
*:first-child+html .pageNavBar { height: 100%; } /* IE7 */
* html .pageNavBar { height: 1%; }               /* IE6 */

.pageNavLeft {
    margin-right: 10em;
    font-size: 0.9em;
}

.pageNavRight {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 0.9em;
}

/*=========================================================*/
/* Main Content Area */

#mainWrapper {
    border-top: 4px solid #BDBDBD;
    background: #FFFFFF url("../img/bg/page_rightcol.gif") top right repeat-y;
}
#mainWrapper:after {
    content: ".";
    height: 0px;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
*:first-child+html #mainWrapper { height: 100%; } /* IE7 */
* html #mainWrapper { height: 1%; }               /* IE6 */

#mainContent {
    width: 100%;
    float: left;
    margin-right: -284px;
    padding-top: 15px;
}
#mainContent:after {
    content: ".";
    height: 0px;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
*:first-child+html #mainContent { height: 100%; } /* IE7 */
* html #mainContent { height: 1%; }               /* IE6 */

#mainContentLeft {
    position: relative;
    margin-right: 284px;
}

#mainContentRight {
    position: relative;
    right: 15px;
    width: 250px;
    float: right;
    padding-top: 15px;
}

/* ----------------------- */

#mainWrapperWide {
    border-top: 4px solid #BDBDBD;
    background: #FFFFFF;
}
#mainWrapperWide:after {
    content: ".";
    height: 0px;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
*:first-child+html #mainWrapperWide { height: 100%; } /* IE7 */
* html #mainWrapperWide { height: 1%; }               /* IE6 */

#mainWrapperWide #mainContent {
    width: 100%;
    padding-top: 15px;
}

#mainWrapperWide #mainContentLeft {
    position: relative;
    margin-right: 0px;
}

#mainWrapperWide #mainContentRight {
    display: none;
}

/*=========================================================*/
/* Main Content Boxes - Left Boxes */

#mainContent .leftContainer {
    clear: both;
    position: relative;
    padding: 0px 15px 0px 60px;
    margin: 0px 0px 1.0em 0px;
    min-height: 250px;
    font-size: 0.9em;
}
#mainContent .leftContainer:after {
    content: ".";
    height: 0px;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
*:first-child+html #mainContent .leftContainer { height: 100%; } /* IE7 */

/*=========================================================*/
/* 'My' Content Area */

#myWrapper {
    border-top: 4px solid #BDBDBD;
    background: #FFFFFF url("../img/bg/my_leftcol.gif") top left repeat-y;
}
#myWrapper:after {
    content: ".";
    height: 0px;
    font-size: 0px;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
*:first-child+html #myWrapper { height: 100%; } /* IE7 */

#myContent {
    width: 100%;
    float: left;
    margin-right: -304px;
    padding-top: 15px;
}
#myContent:after {
    content: ".";
    height: 0px;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
*:first-child+html #myContent { height: 100%; } /* IE7 */
* html #myContent { height: 1%; }               /* IE6 */

#myContentLeft {
    float: left;
    position: relative;
    width: 225px;
    padding: 0px 10px 0px 65px;
    min-height: 250px;
    font-size: 0.9em;
}

#myContentRight {
    padding: 0 15px;
    margin: 0px 0px 0px 304px;
    font-size: 0.9em;
}

#myContentLeft .selected {
    display: block;
    background: #FFFFCC;
    border: 1px solid #CDCDCD;
}

#myContentLeft h6 {
    clear: both;
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 1.0em;
    color: #000000;
    padding: 0px;
    margin: 0px;
}

/*=========================================================*/
/* 'My' Content Boxes - Right Boxes */

#myContent .rightContainer {
    position: relative;
    float: left;
    display: block;
    width: 100%;
    margin: 0px 0px 1.0em 0px;
}
#myContent .rightContainer:after {
    content: ".";
    height: 0px;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
*:first-child+html #myContent .rightContainer { height: 100%; } /* IE7 */

/*================================================================*/
/* Right Column Box */

.rightBox {
    background: #E9F2FF;
    border: 1px solid #99B7DB;
    padding: 5px;
    margin: 0px 0px 0.75em 0px;
    font-size: 0.9em;
}
.rightBox:after {
    content: ".";
    height: 0px;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
*:first-child+html .rightBox { height: 100%; } /* IE7 */
* html .rightBox { height: 1%; }               /* IE6 */

.rightBox h5 {
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    color: #000000;
    padding: 0px;
    margin: 0px;
}

.rightBox h6 {
    clear: both;
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 1.0em;
    color: #000000;
    padding: 0px;
    margin: 0px;
}

/*================================================================*/
/* Table of Content List */

.tocList {
    padding: 0px;
    margin: 0px 0px 1em 0px;
    list-style: none;
}

.tocList ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.tocList h3 {
    margin-top: 0.5em;
    padding-top: 0.5em;
    border-top: 1px solid #D7D7D7;
}
.tocList h3:first-child { border: 0; padding-top: 0px; margin-top: 0px;}

.tocList li {
    padding: 0px 0px 10px 0px;
    margin: 0px;
    list-style: none;
}
.tocList li:after {
    content: ".";
    height: 0px;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
*:first-child+html .tocList li { height: 100%; } /* IE7 */

.tocList li li {
    display: inline-block;
    width: 100%;
    padding: 5px 0px 5px 0px;
}

.tocImage {
    float: left;
    width: 100px;
}

.tocImageOffset {
    margin-left: 115px;
}

.tocIcons {
    float: left;
    width: 3.5em;
}
.tocIcons img {
    vertical-align: middle;
}

.tocPageLinks {
    margin-left: 3.5em;
}

.tocList li.current {
    background: #D7D7D7;
}

/*================================================================*/
/* Table of Content Table */

.tocTable {
    border: 1px solid #D7D7D7;
    border-collapse: collapse;
    empty-cells: show;
}

.tocTable thead {
    background: #F0F0F0;
}
.tocTable thead .big {
    font-size: 1.5em;
    font-weight: bold;
}
.tocTable thead .hidden {
    position: absolute;
    left: -9999px;
}

.tocTable th {
    border-left: 1px solid #D7D7D7;
    border-right: 1px solid #D7D7D7;
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    font-weight: normal;
    padding: 3px 5px;
    text-align: left;
}

.tocTable td {
    border: 1px solid #D7D7D7;
    padding: 3px 5px;
    text-align: left;
}

.tocTable img {
    vertical-align: middle;
}

/*================================================================*/
/* User Management Table */

.userAdd {
    text-align: right;
}

.userTable {
    border: 1px solid #D7D7D7;
    background: #FFFFFF;
    border-collapse: collapse;
    empty-cells: show;
    width: 100%;
    min-width: 590px;
}

.userTable thead {
    background: #F0F0F0;
}

.userTable th {
    border-left: 1px solid #D7D7D7;
    border-right: 1px solid #D7D7D7;
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 1.0em;
    font-weight: normal;
    padding: 3px 5px;
    text-align: left;
}

.userTable td {
    border: 1px solid #D7D7D7;
    padding: 3px 5px;
    text-align: left;
    font-size: 0.9em;
    white-space: nowrap;
}

.userTable input[type="text"], .userTable input[type="password"] {
    width: 75%;
    font-size: 0.9em;
}

.userTable img {
    vertical-align: middle;
}

/*================================================================*/
/* Tag Items */

.tagOptions {
    padding: 0px;
    margin: 2px 0px 1em 0px;
    list-style: none;
}
.tagOptions li {
    padding: 0px 0px 0px 5px;
    margin: 0px;
}

.tagStarsCloud {
}
.tagStarsCloud a {
    margin-right: 5px;
    text-decoration: none;
}
.tagStarsCloud img {
    vertical-align: middle;
}

.tagStarsList img {
    vertical-align: middle;
}

.tagCloud, .tagItem {
    /* This exact font is required to be listed first in order for IE to
       support Unicode characters in the "star" tag names */
    /* Unfortunately, Windows does not support Unicode fully.  We fake it in TagLabel.java */
}

.tagCloud a, .tagList a {
    margin-right: 0.5em;
}

.tagCloud .s1, .tagList .s1 {
    line-height: 1.5em;
    font-size: 0.8em;
}
.tagCloud .s2, .tagList .s2 {
    line-height: 1.2em;
    font-size: 1.0em;
}
.tagCloud .s3, .tagList .s3 {
    line-height: 1.0em;
    font-size: 1.2em;
}
.tagCloud .s4, .tagList .s4 {
    line-height: 1.0em;
    font-size: 1.4em;
}

.tagCloud .selected, .tagList .selected, .tagStarsList .selected, .tagStarsCloud .selected {
    background: #FFFFCC;
    border: 1px solid #CDCDCD;
}
#myContentLeft .tagCloud .selected {
    display: inline;
}
.tagCurrentList {
    float: left;
    padding: 0.15em 0px 0px 17px;
}
/* To avoid displaying remove links in collapsed Tag panel. */
.collapseBox .tagCurrentList .removeLink {
    display: none;
}
.expOpen .tagCurrentList {
    display: block;
    clear: left;
    padding: 3px 0px 0px 17px;
}
.expOpen .tagCurrentList a.removeLink {
    display: inline-block;
}
.expOpen .tagCurrentList span.tagItem {
    display: block;
    height: 1.75em;
}

.tagTerm {
    width: 145px;
    background: #FFFFFF;
    color: #000000;
    border: 1px solid #000000;
    float: left;
    padding-left: 2px;
    font-size: 1.1em;
}

.tagSubmit {
    margin-left: 10px;
}

.tagSearchLink {
    margin: 1.0em 0px 0.3em 0px;
}

.tagAddForm input, .tagAddForm img {
    vertical-align: middle;
}

#tagPageList {
    clear: both;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

#tagPageList li {
    position: relative;
    border-bottom: 1px solid #EAE7B7;
    margin: 5px;
}
#tagPageList li:after {
    content: ".";
    height: 0px;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
*:first-child+html #tagPageList li  { height: 100%; } /* IE7 */
* html #tagPageList li { height: 1%; }               /* IE6 */

#tagPageList .tagPageImg {
    float: left;
    margin: 0px 10px 5px 0px;
    text-align: center;
    vertical-align: top;
}

#tagPageList .tagPageData {
    vertical-align: top;
    height: 1%;
    padding-left: 43px;
    margin: 0px 0px 5px 0px;
}

#tagPageList .tagPageData:after {
    content: ".";
    height: 0px;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
*:first-child+html #tagPageList div  { height: 100%; } /* IE7 */

/*================================================================*/
/* Rating */

.rateHead h2, .rateHead h3, .rateHead h4, .rateHead h5, .rateHead h6 {
    display: inline;
}

.rateRow {
    margin: 0px 0px 1em 0px;
}

.rateRow:after {
    content: ".";
    height: 0px;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

.rateSel {
    text-align: center;
    width: 90px;
    float: left;
    margin-right: 10px;
}

.rateSel a {
    display: block;
    padding: 1px;
    text-decoration: none;
}

.rateSel a:hover, .rateSel a:focus {
    background: #FFFFF0;
    border: 1px solid #CDCDCD;
    padding: 0;
}

.rateSel .selected {
    background: #FFFFCC;
    border: 1px solid #CDCDCD;
    padding: 0px;
}

.rateComments {
    width: 450px;
    height: 4em;
    margin: 0px 0px 1em 0px;
}

/*================================================================*/
/* Checklist */

.checkList {
    padding: 0px 0px 1em 0px;
    margin: 0px;
    list-style: none;
}
.checkList li {
    background: transparent url("../img/icons/check_list.png") left 0.1em no-repeat;
    padding: 0px 0px 0.5em 20px;
    margin: 0px;
}

/*================================================================*/
/* Data Table */

.dataTable {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BDBDBD;
    border-collapse: collapse;
    margin: 0 0 1em;
    width: 100%;
}
.dataTable caption {
    font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 0.5em;
    text-align: left;
}
.dataTable thead {
    background: none repeat scroll 0 0 #D7D7D7;
}
.dataTable th {
    border-left: 1px solid #BDBDBD;
    border-right: 1px solid #BDBDBD;
    color: #333333;
    font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 3px;
    text-align: left;
    vertical-align: top;
}
.dataTable td {
    border: 1px solid #BDBDBD;
    padding: 3px;
    text-align: left;
    vertical-align: top;
    height: 1.75em;
}

/*================================================================*/
/* Data Table Response (Editable Table) */

.dataTableResponse {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BDBDBD;
    border-collapse: collapse;
    margin: 0 0 1em;
    width: 100%;
}
.dataTableResponse thead {
    display: none;
}
.dataTableResponse th {
    display: none;
}
.dataTableResponse td {
    border: 1px solid #BDBDBD;
    padding: 3px;
    text-align: left;
    vertical-align: top;
    height: 1.75em;
    min-width: 5em;
}
.dataTableResponse caption {
	display: none;
}

/*================================================================*/
/* Editable Table Controls */

.dataTableEdit {
    position: relative;
    padding: 1.9em 2.5em;
    margin: 0px 0px 1em 0px;
}

.dataTableEdit table {
    margin-bottom: 0;
}

.dataTableEdit .addColumn {
    position: absolute;
    top: 2.1em;
    right: 0;
}
.dataTableEdit .delColumn {
    position: absolute;
    top: 0;
    right: 2.75em;
}
.dataTableEdit .addRow {
    position: absolute;
    bottom: 0;
    left: 2.75em;
}
.dataTableEdit .delRow {
    position: absolute;
    bottom: 2.1em;
    left: 0;
}


/*================================================================*/
/* Content Items */

h1 {
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    color: #000000;
    padding: 0px 0px 0.3em 0px;
    margin: 0px;
}

h2 {
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    color: #000000;
    padding: 0px 0px 0.2em 0px;
    margin: 0px;
}

h3 {
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    color: #364A77;
    padding: 0px 0px 0.2em 0px;
    margin: 0px;
}

h4 {
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    color: #000000;
    padding: 0px 0px 0.2em 0px;
    margin: 0px;
}

hr {
    background: #EBEBEB;
    color: #EBEBEB;
    height: 1px;
    border: 0;
    padding: 0px;
    margin: 0px 0px 1em 0px;
}

.floatBtn {
    float: right;
    margin: 0 0 0.5em 0.5em;
}

.clearboth {
    clear: both;
    font-size: 0px;
    height: 0px;
}

.inlineGlossary {
	background-color: #FFF871;
}

.offscreen {
    position: absolute;
    left: -9999px;
    display: block;
}

.correct {
    font-weight: bold;
    color: #005429;
}

.incorrect {
    font-weight: bold;
    color: #790C00;
}