@CHARSET "UTF-8";

/*=========================================================*/
/* In-Text Word Highlighting                               */
/*=========================================================*/
.hlactive .word {
	cursor: pointer;
}

.wordCurrentErase { /* Just erased */
	border: 2px solid black;
	background-color: #ffffff;
}

.wordCurrentHighlight { /* Just highlighted */
	border: 2px solid black;
	background-color: #ffff70;
}

.B .wordHighlighted,body.B #controlB { /* Blue user highlighting */
	background-color: #75DFF6;
}

.G .wordHighlighted,body.G #controlG { /* Green user highlighting */
	background-color: #B5FF92;
}

.Y .wordHighlighted,body.Y #controlY { /* Yellow user highlighting */
	background-color: #FFF985;
}

.wordSelectedErase { /* In-process erasing: user is dragging a region */
	background-color: #ffffb0;
}

.wordSelectedHighlight { /* In-process highlighting */
	border-bottom: 2px solid #cccc40;
	margin-bottom: -2px;
}

.B .wordSelectedHighlight {
	background-color: #C0E4FF;
}

.Y .wordSelectedHighlight {
	background-color: #FFFFD0;
}

.erasing #controlE {
	background-color: #FFFFE0;
}

/* Model yellow highlights and hint highlights */
.Y.model .key, .Y.hint .keyhint {
	background: #FFA6A4;
}

/* Model and hint highlights overlapped with Yellow highlights */
.Y.model .key .wordHighlighted, .Y.hint .keyhint .wordHighlighted  {
	background: #FFCC80;
}

/* User highlights not overlapping during a model or hint compare */
.Y.model .wordHighlighted, .Y.hint .wordHighlighted {
	background-color: #FFF985;
}

/*=========================================================*/
/* Highlight Panel                                         */
/*=========================================================*/

#globalHighlight {
    padding: 0px;
}

#globalHighlight h5 {
    margin: 5px;
}
#globalHighlight > .targetToggle {
    padding: 0px;
}

#globalHighlight .hlRow {
    position: relative;
    width: 228px;
    min-height: 30px;
    border-top: 1px solid #D4E1F0;
    padding: 0px;
    margin: 0px;
}
#globalHighlight .hlRow .hlIcon {
    display: block;
    min-height: 25px;
    background: transparent url("../img/icons/highlight_yellow.png") 18px 4px no-repeat;
}

#globalHighlight .hlRowInner {
    display: block;
    min-height: 25px;
    padding: 5px 10px 0px 55px;
}
#globalHighlight .hlRowInner:after {
    content: ".";
    height: 0px;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
*:first-child+html #globalHighlight .hlRowInner { height: 100%; } /* IE7 */
* html #globalHighlight .hlRowInner { height: 1%; }               /* IE6 */

#globalHighlight .hlRow span.action {
    vertical-align: middle;
}

#globalHighlight .hlRow form {
    position: absolute;
    top: 5px;
    left: 55px;
}

#globalHighlight a.hlIcon, #globalHighlight a.hlIcon:hover {
    color: #000000;
    text-decoration: none;
}
/*
 #globalHighlight a.hlIcon:focus .action{
    text-decoration: underline;
    background-color: #FFFFCC;
}
*/

#globalHighlight .hlRow a.button {
    position: absolute;
    top: 5px;
    right: 5px;
}

#globalHighlight .hlRow form a.button{
    position: absolute;
    top: 0px;
    right: -46px;
}

#globalHighlight input {
    width: 120px;
    border: 1px solid #D7D7D7;
}

#globalHighlight .controlY .hlIcon { background-image: url("../img/icons/highlight_yellow.png");}
#globalHighlight .controlB .hlIcon { background-image: url("../img/icons/highlight_blue.png"); }
#globalHighlight .controlG .hlIcon { background-image: url("../img/icons/highlight_green.png"); }
#globalHighlight .controlE .hlIcon { background-image: url("../img/icons/highlight_erase_g.png"); cursor: default; color: #999999; font-style: italic; }
#globalHighlight .controlE .hlIcon:hover { cursor: default; color: #999999; font-style: italic; }
#globalHighlight .controlE.enable .hlIcon { background-image: url("../img/icons/highlight_erase.png"); cursor: pointer; color: #000000; }

#globalHighlight .controlY:hover { cursor: pointer; }
#globalHighlight .controlB:hover { cursor: pointer; }
#globalHighlight .controlG:hover { cursor: pointer; }

#globalHighlight .hlGradient {
    min-height: 30px;
}

#globalHighlight .hlGradient:hover, #globalHighlight .controlE.enable .hlGradient:hover {
	background: #FFFFCC;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFCC));
	background: -moz-linear-gradient(top, #FFFFFF, #FFFFCC);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFF,endColorstr=#FFFFCC);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFF, endColorstr=#FFFFCC);
}

#globalHighlight .controlE .hlGradient:hover { background: transparent; filter: none; -ms-filter: none; }

#globalHighlight .hlRow.on .hlGradient { background: #FFFFCC; filter: none; -ms-filter: none; }
#globalHighlight .hlRow.on:hover .hlGradient { background: #FFFFCC; filter: none; -ms-filter: none; }
#globalHighlight .controlE.on .hlGradient { background: #FFFFCC; color: #000000; filter: none; -ms-filter: none; }

#globalHighlight .controlY.has .hlIcon { background-image: url("../img/icons/highlight_yellow_has.png"); }
#globalHighlight .controlB.has .hlIcon { background-image: url("../img/icons/highlight_blue_has.png"); }
#globalHighlight .controlG.has .hlIcon { background-image: url("../img/icons/highlight_green_has.png"); }

/*=========================================================*/
/* Highlight Helper Item                                   */
/*=========================================================*/

#globalHighlight .helper .hlRowInner {
    background: transparent url("../img/icons/expand_mini_closed.png") 3px 8px no-repeat;
}
#globalHighlight .helper.on .hlRowInner { background-image: url("../img/icons/expand_mini_open.png"); }

#globalHighlight .highlightHelper {
    background: #E9F2FF;
    border-top: 1px solid #D4E1F0;
    text-align: left;
    padding: 5px 10px 0px 17px;
    margin: 0px;
    font-size: 0.9em;
    display: none;
    cursor: default;
}
#globalHighlight .highlightHelper:after {
    content: ".";
    height: 0px;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
*:first-child+html #globalHighlight .highlightHelper { height: 100%; } /* IE7 */
* html #globalHighlight .highlightHelper { height: 1%; }               /* IE6 */

#globalHighlight .on .highlightHelper {
    display: block;
}

#globalHighlight .highlightHelper h5 {
    margin: 0px;
}