/*================================================================*/
/* Modal Body */

.modalPopup {
    display: none;
}

.modalBody {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #000000;
    background: #FFFFFF;
    border: 4px solid #1E2D56;
    padding: 0px;
    margin: 0px;
    /* overflow: hidden; */
    -moz-box-shadow: 0px 0px 8px 4px #BBBBBB;
    -webkit-box-shadow: 0px 0px 8px 4px #BBBBBB;
    box-shadow: 0px 0px 8px 4px #BBBBBB;
    z-index: 2;
}

/*================================================================*/
/* Modal Widths */

.modalNarrow {
    width: 250px;
}

.modalWide {
	width: 400px;
}

/* Positioning */

.modalSidebar {
	right: 32px;
}

/*================================================================*/
/* Modal Header */

.modalHeader {
    position: relative;
    background: #1E2D56;
    padding: 1px 5px 5px 5px;
}
.modalHeader:after {
    content: ".";
    height: 0px;
    font-size: 0px;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

.modalTitle {
    color: #FFFFFF;
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0px;
    margin: 0px 3em 0px 0px;
    min-height: 1.3em;
}

.modalClose {
    position: absolute;
    top: 2px;
    right: 5px;
}

.modalMove {
    position: absolute;
    top: 2px;
    right: 2.5em;
    cursor: move !important;
}

.modalClose.button:active {
	position: absolute;
	top: 2px;
}
.modalMove.button:active {
    position: absolute;
    top: 2px;
}

/*================================================================*/
/* Modal Columns */

.modalMainCol {
    /*
    position: absolute;
    top: 39px;
    right: 0px;
    bottom: 39px;
    left: 0px;
    */
    background: #FFFFFF;
    font-size: 0.9em;
    line-height: 1.2;
    overflow: auto;
}

/*================================================================*/
/* Main Content Column */

.modalContent {
    padding: 5px;
    font-size: 0.9em;
}

.modalContent h5 {
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    color: #000000;
    padding: 0px 0px 0.3em 0px;
    margin: 0px;
}

.modalContent h6 {
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 1.0em;
    color: #000000;
    padding: 0px 0px 0.3em 0px;
    margin: 0px;
}

/*================================================================*/
/* Edit Box */

.modalEdit {
    padding: 5px;
}

.modalEdit textarea {
    width: 200px;
    height: 4em;
    margin: 0px 0px 0.5em 0px;
}

/*================================================================*/
/* Modal Image/Object Box */

.modalBody .imgBox, .modalBody .objectBox {
    margin: 0px;
    font-size: 0.85em;
}

.modalBody .imgBox.center {
	margin: 0 auto 1em;
}
