<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org" lang="en" xml:lang="en">
<body>
<wicket:border>
	<div wicket:id="collapseBox" class="rightBox collapseBox open tagCurrent">
	    <h5 wicket:id="collapseBoxToggle"><span wicket:id="collapseBoxLabel">Collapse Box Title</span></h5>
	    <div class="collapseBody">
			  <wicket:body/>
	    </div>
	</div>		
</wicket:border>
</body>
</html>